nav, .side-nav .collapsible-body li.active, .side-nav.fixed .collapsible-body li.active, footer.page-footer {
    background: #38435a;
}

span.badge.new:after {
    content: "";
}

.ReactModal__Body--open {
    overflow: hidden;
}

.tabs .indicator {
    background-color: #38435a;
}